<%= form_for(wagon) do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
      <%= f.radio_button :w_type, 'Second class' %>
      <%= f.label :type_second, 'Second-class sleeping carriage' %>
      <%= f.radio_button :w_type, 'Third class' %>
      <%= f.label :type_third, 'Third-class sleeping carriage' %>
    </div>

    <div class="actions">
      <%= f.submit "#{ wagon.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
