<%= form_for(ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <div class="field">
      <table>
        <tr>
          <th><%= f.label :start %></th>
          <th><%= f.label :end %></th>
        </tr>
        <tr>
          <td><%= f.text_field :start %></td>
          <td><%= f.text_field :end %></td>
        </tr>
      </table>
    </div>

    <div class="actions">
      <%= f.submit "#{ ticket.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
