<%= form_for(ticket) do |f| %>
    <% if ticket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

          <ul>
            <% ticket.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <table>
        <tr>
          <th><%= f.label :start %></th>
          <th><%= f.label :end %></th>
        </tr>
        <tr>
          <td><%= f.text_field :start %></td>
          <td><%= f.text_field :end %></td>
        </tr>
      </table>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
