<%= form_for(ticket) do |f| %>
    <%= render 'common/errors', resource: @ticket %>

    <div class="field">
      <table>
        <tr>
          <th><%= f.label :start %></th>
          <th><%= f.label :end %></th>
        </tr>
        <tr>
          <td><%= f.text_field :start %></td>
          <td><%= f.text_field :end %></td>
        </tr>
      </table>
    </div>

    <div class="field">
      <table>
        <tr>
          <th><%= f.label :name %></th>
          <th><%= f.label :surname %></th>
        </tr>
        <tr>
          <td><%= f.text_field :name %></td>
          <td><%= f.text_field :surname %></td>
        </tr>
      </table>
    </div>

    <div class="field">
      <%= f.label :train, "Current train" %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="actions">
      <%= f.submit "#{ ticket.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
