<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @ticket.start %>
  <strong>End:</strong>
  <%= @ticket.end %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
