<p id="notice"><%= notice %></p>

<p>
  <tr>
    <th><strong>Start:</strong></th>
    <th><strong>End:</strong></th>
  </tr>
  <tr>
    <td><%= @ticket.start %></td>
    <td><%= @ticket.end %></td>
  </tr>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
