<%= form_for(user) do |f| %>
    <%= render 'common/errors', resource: @user %>

    <div class="field">
      <%= f.label :login %>
      <%= f.text_field :login %>
    </div>

    <div class="actions">
      <%= f.submit "#{ user.new_record? ? 'Create' : 'Edit'}" %>
    </div>
<% end %>
