<%= form_for(user) do |f| %>
    <%= render 'common/errors', resource: @user %>

    <div class="field">
      <%= f.label :login %>
      <%= f.text_field :login %>
    </div>

    <%= render 'common/button', resource: @user %>
<% end %>
