<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTrains</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <br>
  <%= link_to 'Home', root_path %>
  
  <footer class="footer">
    2017 Ilia Kalinichev
  </footer>
</html>
